* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #0c192c;
    display: flex;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;

}

.bubbles {
    position: relative;
    display: flex;
    z-index: -100;
}

.bubbles span {
    position: relative;
    width: 20px;
    height: 20px;
    background: #36f7d7;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #36f7d744,
        0 0 50px #36f7d7,
        0 0 100px #36f7d7;
    animation: animate 15s linear infinite;
    -webkit-animation: animate 15s linear infinite;
    -moz-animation: animate 15s linear infinite;
    animation-duration: calc(68s / var(--i));
    -webkit-animation-duration: calc(68s / var(--i));
    -moz-animation-duration: calc(68s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
        0 0 50px #ff2d75,
        0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.loginhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.loginhead a {
    color: #fff;
    margin-left: 15px;
}

.bubbles-winter {
    position: relative;
    display: flex;
    z-index: -100;
}

.bubbles-winter span {
    position: relative;
    width: 20px;
    height: 20px;
    background: #fff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ffffff44,
        0 0 50px #fff,
        0 0 100px #fff;
    animation: animatewinter 15s linear infinite;
    -webkit-animation: animatewinter 15s linear infinite;
    -moz-animation: animatewinter 15s linear infinite;
    animation-duration: calc(120s / var(--i));
    -webkit-animation-duration: calc(120s / var(--i));
    -moz-animation-duration: calc(120s / var(--i));
}

.bubbles-winter span:nth-child(even) {
    background: #fff;
    box-shadow: 0 0 0 10px #ffffff44,
        0 0 50px #fff,
        0 0 100px #fff;
}

@keyframes animatewinter {
    0% {
        transform: translateY(-10vh) scale(0);

    }

    100% {
        transform: translateY(100vh) scale(1);
    }
}

.page-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 15px;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box h2 {
    color: #36f7d7;
}

.space-1 {
    height: 90px;
}

.start {
    position: relative;
    display: flex;
    flex-direction: column;
}

.start a {
    margin-top: 10px;
    color: #fff;
    text-decoration: solid 1px #fff;
}

.box p {
    color: white;
}

.select-btn .row {
    display: flex;
    flex-direction: row;
}

.select-btn button {
    width: 150px;
}

button {
    padding: 10px;
    border-radius: 13px;
    border: none;
    background-color: #36f7d7;
}

.login {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.login .fadein {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1);
}

.bckbtn {
    background: none;
    height: 35px;
    width: 35px;
    padding: 0;
    border: none;
    border-radius: none;
    color: white;
}

.loginForm {
    width: 380px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 0px;
    color: #fff;
    text-align: start;
}

.loginForm input[type="password"],
.loginForm input[type="text"] {
    width: 100%;
    background-color: #fefefe85;
    padding: 4px;
    border: 1.2px solid black;
    border-radius: 100px;
    font-size: 18px;
}

.loginbtn {
    background: linear-gradient(90deg, #36f7d7, #029ad6);
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
}

.loginbtn:hover,
.loginbtn:focus {
    animation: hovani 5s forwards linear;
    -moz-animation: hoverani 5s forwards linear;
    -webkit-animation: hoverani 5s forwards linear;

}

.loginbtn::before {
    background: linear-gradient(90deg, #36f7d7, #029ad6);
}

@keyframes hovani {
    0% {
        background: linear-gradient(90deg, #36f7d7, #029ad6);
    }

    100% {
        background: linear-gradient(90deg, #029ad6, #36f7d7);
    }
}

.errmsg {
    display: flex;
    min-width: 300px;
    height: 60px;
    background-color: #ff000080;
    padding-inline: 10px;
    position: absolute;
    border-radius: 16px;
    border: 1.4px solid #80808080;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    color: #fff;
}
.close-icon{
    position: absolute;
    top: 4px;
    right: 10px;
}
